{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">

{% endblock head %}
{% block content %}
    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <h3>
                <a href="{% url 'registration' %}">Регистрация</a>
            </h3>
            <p class="reset-password-link">
                <a href="{% url 'password_reset' %}">Забыли пароль?</a>
            </p>
        </table>
        <input class="btn btn-warning" type="submit" value="Войти">
    </form>
    <script>
        document.getElementById("id_username").placeholder = "Введите логин";
        document.getElementById("id_password").placeholder = "Введите пароль";
    </script>

{% endblock %}