{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>Список фильмов</title>
    <link rel="stylesheet" href="{% static 'kino_list.css' %}">
{% endblock head %}
{% block content %}
    <h2>Каталог</h2>
    <ul>
        {% for one in kino_list %}
            <li>
                <a href="{{ one.getAbsUrl }}">
                    <img src="{{ one.image }}" alt="{{ one.title }}">
                    <div>
                        <p class="movie-title">Фильм: {{ one.title }}</p>
                        <p class="movie-details">Страна: <span>{{ one.country }}</span></p>
                        <p class="movie-details">Год: <span>{{ one.year }}</span></p>


                    </div>
                </a>
            </li>
        {% endfor %}

    </ul>
    {% if is_paginated %}
        <div class="pagination">
<span class="step-links">
        {% if page_obj.has_previous %}
            {#            <a href="?page=1">&laquo; first</a>#}
            <a href="?page={{ page_obj.previous_page_number }}">пред</a>
        {% endif %}

    <span class="current">
            Стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">след</a>
        {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
    {% endif %}
</span>
        </div>
    {% endif %}

{% endblock content %}

